<!DOCTYPE html>
html(lang=en)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Tailwind
    link(rel="stylesheet", href="./index.css")
  body
    div.min-h-screen.flex.flex-col.items-center.justify-center
      h1.text-5xl.text-purple.font-sans Greetings!
      a(
        class="text-white rounded-sm no-underline bg-teal px-2 py-1 mt-4 hover:bg-blue"
        href="#"
      ) Hello world!
      p.mt-4 
        | TailwindCSS + Pug = 
        span.text-pink &lt;3

    script(src="./index.js" charset="utf-8")
  